.chat-main__body--messages-list
  .chat-main__body--message
    .chat-main__body--message-name
      yuta.t
    .chat-main__body--message-time
      2017/11/26
    .chat-main__body--message-body
      aaa
