.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        yuta.t
      .chat-side__user--icon-new
        %i.fa.fa-pencil-square-o
      .chat-side__user--icon-edit
        %i.fa.fa-cog
  .chat-side__groups
    .chat-side__group
      .chat-side__group-name
        hoge
      .chat-side__group-message
        fuga

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        hoge
      .chat-main__header--group-edit-btn
        edit
    .chat-main__header--members
      MEMBER:
      %i
        yuta.t

  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__body--message
        .chat-main__body--message-name
          yuta.t
        .chat-main__body--message-time
          2017/11/26
        .chat-main__body--message-body
          aaa

  .chat-main__footer