.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        %p
          yuta.t
      .chat-side__user--icon-new
        %i.fa.fa-pencil-square-o
      .chat-side__user--icon-edit
        %i.fa.fa-cog
  .chat-side__groups

.chat-main
  .chat-main__header

  .chat-main__body

  .chat-main__footer