// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-side {
  width: 300px;
  height: 100vh;
  float: left;

  &__user {
    background-color: $navy-blue;
    height: 120px;
    padding: 0 20px;

    &-content {
      height: 50px;
      padding: 35px 0;
    }
    &-name {
      padding: 10px 0;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      display: inline-block;
    }
    &--icon {
      &-new {
        color: $white;
        display: inline-block;
        padding: 10px 0 10px 90px;
        font-size: 16px;
      }
      &-edit {
        color: $white;
        display: inline-block;
        padding: 10px 0;
        font-size: 16px;
      }
    }
  }

  &__groups {
    background-color: $deep-blue;
    height: calc(100vh - 120px);
  }
  &__group {
    height: 40px;
    width: 260px;
    padding: 20px;
    &-name {
      color: $white;
      font-size: 15px;
    }
    &-message {
      color: $white;
      font-size: 11px;
    }
  }
}

.chat-main{
  float: right;
  background-color: $white;
  width: calc(100vw - 300px);
  height: 100vh;

  &__header {
    height: 120px;
    border: 1px solid #eeeeee;
    &--group {
      margin: 0 40px;
      height: 80px;
      &-name {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        float: left;
      }
      &-edit-btn {
        font-size: 15px;
        color: $right-blue;
        float: right;
        padding:12.5px 20px;
        border: 1px solid $right-blue;
        margin: 28px 20px 0;
      }
    }
    &--members {
      margin: 0 40px;
      font-size: 12px;
      color: $right-gray;
    }
  }

  &__body {
    height: calc(100vh - 210px);
    &--messages-list {
      padding: 20px 40px 0;
    }
    &--message {
      padding: 20px 0;
      &-name {
        font-size: 16px;
        font-weight: bold;
        color: $text-black;
        display: inline-block;
      }
      &-time {
        font-size: 12px;
        color: $right-gray;
        display: inline-block;
        margin-left: 5px;
      }
      &-body {
        font-size: 14px;
        color: $text-black;
      }
    }
  }
}

// .clearfix:after{
//   content: "";
//   display: block;
//   clear: both;
// }