// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-side {
  width: 300px;
  height: 100vh;
  float: left;

  &__user {
    background-color: $navy-blue;
    height: 120px;
    padding: 0 20px;

    &-content {
      height: 50px;
      padding: 35px 0;
    }
    &-name {
      padding: 10px 0;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      display: inline-block;
    }
    &--icon {
      &-new {
        color: $white;
        display: inline-block;
        padding: 10px 0 10px 90px;
        font-size: 16px;
      }
      &-edit {
        color: $white;
        display: inline-block;
        padding: 10px 0;
        font-size: 16px;
      }
    }
  }

  &__groups {
    background-color: $deep-blue;
    height: 100vh;
  }
}

.chat-main{
  float: right;
  background-color: $white;
  width: calc(100vw-300px);
  height: 100vh;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}